<!DOCTYPE html>
<html>
    <head>
        <title>Sbs Home</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>

    <body>
        <div>{{#header}} {{{header}}} {{/header}}</div>

    	<div id="content">

	        <div>
	            <div><h1>Is debug mode enabled? {{debug}} (use ?debug=false/true)</h1></div>
	        </div>
	        
	        <h2>{{> partial}}</h2>
        
		</div>
        
        <div>{{#footer}} {{{footer}}} {{/footer}}</div>
        
       
    </body>
</html>
